body {
--twitter-color: #0094ff;
--twitter-background : #808080;




}


.app {

display: flex;
height: 100vh;
max-width: 300px;
/*margin-left: auto;
margin-right: auto;*/
padding: 10px;
}